html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
     }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
body {
    line-height: 1; }
ol, ul {
    list-style: none; }
blockquote, q {
    quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	      content: '';
	      content: none; }
table {
    border-collapse: collapse;
    border-spacing: 0; }


/*
Menu
*/

body {
    background-color: #fff;
}

.container {
    overflow: hidden;
}

.intro {
    background-color: #fff;
    background: #fff;
}

.intropage {
    margin-top: 17vh;
    width: 100%;
    height: auto;
}

.introwork {
    margin-top: 3vh;
    width: 100%;
}


.introtitle {
    width: auto;
    text-align: left;
    display: inline-block;
    padding-top: 8vmin;
    padding-left: 10vw;
    padding-bottom: 5vmin;
    // background-color: #f00;
}

.introtitle a {
    text-decoration: none;
    font-size: 8vmin;
    letter-spacing: 2px;
    color: #000;
    font-family: 'Playfair Display';
}

.introsubtitle {
    width: auto;
    // margin-left: 50vw;
    text-align: left;
    float: right;
    display: inline-block;
    margin-top: 8vmin;
    // margin-bottom: 0vh;
    // margin-left: 1vw;
    margin-right: 5vw;
    // display: inline-block;
    // min-width: 600px;
    text-decoration: none;
    font-size: 8vmin;
    letter-spacing: 2px;
    color: #000;
    font-family: 'Playfair Display';
    // font-family: 'Playfair Display', serif;
    // text-transform: uppercase;
    // background-color: #fff;    
}

.intromenupage {
    width: 100%;
    text-align: right;
}

.intromenuwork {
    width: 50%;
    text-align: right;
    min-width: 600px;
}

.intromenu {
    display: inline-block;
    padding-top: 5vmin;
    padding-bottom: 10vmin;
    // background-color: #0f0;
}


.intromenuitem {
    text-decoration: none;
    color: #000;
    // font-family: 'Catamaran',sans-serif;
    // font-weight: bold;
    font-family: 'Playfair Display', serif;
    font-size: 5vmin;
    // letter-spacing: 2px;
    display: inline;
    margin-right: 5vw;
    // display: inline-block;
    // text-transform: uppercase;
    // padding-bottom: 2vh;
    // background-color: #fff;
}

/* .content { */
/*     width: 100vw; */
/*     height: 100vh; */
/* } */



.frame {
    position: absolute;
    top: 0px;
    left: 0px;
    float: right;
    // margin-right: 5vw;
    // margin-top: 5vw;
    // margin-bottom: 100vh;
    width: 100%;
    // max-width: 99vw;
    overflow: hidden;
    height: 75%;
    z-index: -1;
    // border: 10px solid #111;
    // -webkit-box-sizing: border-box;
    // -moz-box-sizing: border-box;
    // box-sizing: border-box;
    // padding: 10%;
}

.frame canvas {
    width: 100vmax;
    height: 100vmax;
    // padding: 3%;
}

.front-title {
    text-decoration: none;
    color: #000;
    font-family: 'Playfair Display';
    // font-family: 'Playfair Display', serif;
    font-size: 4vmin;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 15vmin;
    margin-bottom: 10vmin;
}

/* .paragraph-left { */
/*     margin-left: 30vmin; */
/*     margin-top: 10vmin; */
/*     width: 90vmin; */
/*     float: left; */
/*     margin-bottom: 10vmin; */
/*     background-color: #fdd; */
/* } */

.paragraph-left {
    // float: right;
    width: 80%;
    margin: auto;
    height: auto;
    overflow: hidden;
    margin-top: 20vw;
    margin-bottom: 20vw;
}

.paragraph-left p {
    text-decoration: none;
    color: #000;
    font-family: 'Playfair Display';
    // font-family: 'Playfair Display', serif;
    font-size: 5vmin;
    letter-spacing: 1px;
    line-height: 200%;
    // margin-bottom: 10vmin;
    text-align: left;
    float: left;
    width: 70%;
    margin-left: 35%;
    // background-color: #fff;
}

.paragraph-left-frame {
    // float: right;
    width: 80%;
    margin: auto;
    height: auto;
    overflow: hidden;
    margin-top: 10vh;
    margin-bottom: 10vh;
    // background-color: #fdd;
}


.paragraph-left-frame img {
    width: 90%;
    height: auto;
    max-width: 700px;
    // margin-top: 10vmin;
    // margin-right: auto;
    float: left;
    // background-color: #ddd;
}


.paragraph-right {
    // float: right;
    width: 80%;
    margin: auto;
    height: auto;
    overflow: hidden;
    margin-top: 20vw;
    margin-bottom: 20vw;
    text-align: right;
    // background-color: #fdd;
}

.paragraph-right p {
    text-decoration: none;
    color: #000;
    font-family: 'Playfair Display';
    // font-family: 'Playfair Display', serif;
    font-size: 5vmin;
    letter-spacing: 1px;
    line-height: 200%;
    // margin-top: 5vmin;
    // margin-bottom: 5vmin;
    float: left;
    width: 70%;
    margin-left: 50%;
    text-align: left;
    // background-color: #ddf;
}

.paragraph-right-frame {
    // float: right;
    width: 80%;
    margin: auto;
    height: auto;
    overflow: hidden;
    margin-top: 10vh;
    margin-bottom: 10vh;
    tex-align: right;
    // background-color: #fdd;
}


.paragraph-right-frame img {
    width: 90%;
    height: auto;
    max-width: 700px;
    // margin-left: 30%;
    float: right;
    // margin-right:10%;
    // margin-top: -40vmin;
    // margin-top: 10vmin;
    // background-color: #ddd;
}

.clear {
    clear: both;
}

.project-title-left {
    // float: right;
    // width: 50%;
    display: inline-block;
    margin-left: 15vw;
    height: auto;
    overflow: hidden;
    margin-top: 10vw;
    margin-bottom: 0vh;
    // background-color: #fdd;    
}

.project-title-center {
    // float: right;
    width: 80%;
    margin: auto;
    height: auto;
    overflow: hidden;
    margin-top: 10vh;
    margin-bottom: 10vh;
    // background-color: #fdd;    
}

.project-title-right {
    // float: right;
    width: 80%;
    margin: auto;
    height: auto;
    overflow: hidden;
    margin-top: 10vh;
    margin-bottom: 10vh;
    // background-color: #fdd;    
}

.project-title-left p {
    text-decoration: none;
    color: #000;
    font-family: 'Playfair Display';
    // font-family: 'Playfair Display', serif;
    font-size: 4vmin;
    letter-spacing: 1px;
    line-height: 200%;
    // margin-bottom: 10vmin;
    text-align: left;
    // float: left;
    //width: 70%;
    //margin-left: 35%;
    background-color: #fff;
}

.project-title-center p {
    text-decoration: none;
    color: #000;
    font-family: 'Playfair Display';
    // font-family: 'Playfair Display', serif;
    font-size: 4vmin;
    letter-spacing: 1px;
    line-height: 200%;
    // margin-bottom: 10vmin;
    text-align: left;
    // float: left;
    width: 70%;
    margin: auto;
    background-color: #fff;
}

.project-title-right p {
    text-decoration: none;
    color: #000;
    font-family: 'Playfair Display';
    // font-family: 'Playfair Display', serif;
    font-size: 4vmin;
    letter-spacing: 1px;
    line-height: 200%;
    // margin-top: 5vmin;
    // margin-bottom: 5vmin;
    float: left;
    width: 70%;
    margin-left: 50%;
    text-align: left;
    // background-color: #ddf;
    background-color: #fff;
}

.project-vspace {
    height: 20vh;
}


.project-description-left {
    // float: right;
    width: 66vw;
    // margin: auto;
    height: auto;
    overflow: hidden;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 15vw;
    // min-width: 300px; 
    // background-color: #fdd;    
    background-color: #fff;
}

.project-description-center {
    // float: right;
    width: 50vh;
    margin: auto;
    height: auto;
    overflow: hidden;
    margin-top: 10vh;
    margin-bottom: 10vh;
    // background-color: #fdd;    
    background-color: #fff;
}

.project-description-right {
    // float: right;
    width: 50vh;
    margin: auto;
    height: auto;
    overflow: hidden;
    margin-top: 10vh;
    margin-bottom: 10vh;
    // background-color: #fdd;    
    background-color: #fff;
}

.project-description-left p {
    text-decoration: none;
    color: #000;
    font-family: 'Playfair Display';
    // font-family: 'Playfair Display', serif;
    font-size: 3vmin;
    letter-spacing: 1px;
    line-height: 200%;
    // margin-bottom: 10vmin;
    text-align: left;
    // float: left;
    // width: 70%;
    // margin-left: 35%;
    
}

.project-description-center p {
    text-decoration: none;
    color: #000;
    font-family: 'Playfair Display';
    // font-family: 'Playfair Display', serif;
    font-size: 4vmin;
    letter-spacing: 1px;
    line-height: 200%;
    // margin-bottom: 10vmin;
    text-align: left;
    // float: left;
    width: 70%;
    margin: auto;
}

.project-description-right p {
    text-decoration: none;
    color: #000;
    font-family: 'Playfair Display';
    // font-family: 'Playfair Display', serif;
    font-size: 4vmin;
    letter-spacing: 1px;
    line-height: 200%;
    // margin-top: 5vmin;
    // margin-bottom: 5vmin;
    float: left;
    width: 70%;
    margin-left: 50%;
    text-align: left;
    // background-color: #ddf;
}




.project-left-frame {
    // float: right;
    width: 80%;
    margin: auto;
    height: auto;
    overflow: hidden;
    margin-top: 10vh;
    margin-bottom: 10vh;
    // background-color: #fdd;
}


.project-left-image {
    width: 70%;
    height: auto;
    max-width: 700px;
    // margin-top: 10vmin;
    // margin-right: auto;
    float: left;
    // background-color: #ddd;
}


.project-center-frame {
    // float: right;
    width: 80%;
    margin: auto;
    height: auto;
    overflow: hidden;
    margin-top: 10vh;
    margin-bottom: 10vh;
    text-align: center;
    // background-color: #fdd;
}


.project-center-image {
    width: 70%;
    height: auto;
    max-width: 700px;
    // margin-top: 10vmin;
    // margin-right: auto;
    // float: left;
    margin: auto;
    display: inline-block;
    // background-color: #ddd;
}


img {
    background-color: white;
    padding: 3%;
    border: 10px solid #111;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.project-image-row {
    // float: right;
    width: 100%;
    margin: auto;
    height: auto;
    overflow: hidden;
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-left: 0%;
    // tex-align: right;
    // text-align: center;
    // background-color: #fdd;
}

.project-image-double-row {
    // float: right;
    width: 100%;
    margin: auto;
    height: auto;
    overflow: hidden;
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-left: 0%;
    // tex-align: right;
    // text-align: center;
    // background-color: #fdd;
}


.project-image-3-same {
    width: 32%;
    height: auto;
    max-width: 800px;
    // margin-left: 30%;
    // float: right;
    // display: inline-block;
    margin-left: 1%;
    // display: inline-block;
    float: left;
    // background-color: #ddd;
}

.project-image-double-left {
    width: 65%;
    height: auto;
    margin-left: 1%;
    max-width: 1524px;
    // display: inline-block;
    float: left;
}

.project-image-double-right {
    width: 65%;
    height: auto;
    margin-right: 1%;
    max-width: 1524px;
    // display: inline-block;
    float: right;
}


.project-image-single-right-1 {
    width: 32%;
    height: auto;
    max-width: 700px;
    // margin-left: 30%;
    // float: right;
    // display: inline-block;
    margin-left: 1%;
    // display: inline-block;
    // background-color: #ddd;
    float: left;
}

.project-image-single-right-2 {
    width: 32%;
    height: auto;
    max-width: 800px;
    // margin-left: 30%;
    // float: right;
    // display: inline-block;
    margin-left: 1%;
    // display: inline-block;
    // background-color: #ddd;
    float: left;
    margin-top: 1vw;
}

.project-image-single-left-1 {
    width: 32%;
    height: auto;
    max-width: 700px;
    // margin-left: 30%;
    // float: right;
    // display: inline-block;
    margin-right: 1%;
    // display: inline-block;
    // background-color: #ddd;
    float: right;
}

.project-image-single-left-2 {
    width: 32%;
    height: auto;
    max-width: 700px;
    // margin-left: 30%;
    // float: right;
    // display: inline-block;
    margin-right: 1%;
    // display: inline-block;
    // background-color: #ddd;
    float: right;
    margin-top: 1vw;
}



.project-right-image {
    width: 70%;
    height: auto;
    max-width: 700px;
    // margin-left: 30%;
    float: right;
    // margin-right:10%;
    // margin-top: -40vmin;
    // margin-top: 10vmin;
    // background-color: #ddd;
}


/* .project-frame-left { */
/*     float: left; */
/*     // width: 70vw; */
/*     height: 33vh; */
/*     // margin-left: 0; */
/*     // margin-right: 0vw; */
/*     // overflow: hidden; */
/* } */

/* .project-image-left { */
/*     width: 100%; */
/*     height: auto; */
/*     // float: left; */
/*     // margin-left: 20vmin; */
/*     // margin-right: 5vw; */
/* } */

/* .project-title-right { */
/*     float: left; */
/*     font-size: 15vmin; */
/*     // padding-left: 3vmin; */
/*     margin-left: 20vw; */
/*     margin-top: 20vmin; */
/*     border-color: black; */
/*     border-width: 0px; */
/*     border-left: 0; */
/*     border-style: solid; */
/*     width: 66vw; */
/*     text-align: left; */
/*     margin-bottom: 10vh; */
/*     // z-index: 1; */
/* } */

/* .project-frame-right { */
/*     float: left; */
/*     margin-left: 20vw; */
/*     width: 80vw; */
/*     height: 33vh; */
/*     margin-right: 0; */
/*     overflow: hidden; */
/* } */

/* .project-image-right { */
/*     width: 100%; */
/*     height: auto; */
/*     // float: left; */
/*     // margin-left: 20vmin; */
/*     // margin-right: 5vw; */
/* } */

/* .project-description { */
/*     display: block; */
/* } */

.clear {
    clear: both;
}


.footer {
    width: 100%;
    text-align: center;
    margin-top: 20vw;
    // margin-bottom: 10vh;
    // margin: 10vh auto;
    background-color: #000;
    padding-top: 10vw;
    padding-bottom: 10vw;
}

.footer a {
    text-decoration: none;
    color: #fff;
    font-family: 'Playfair Display', serif;
    // font-family: 'Playfair Display', serif;
    font-size: 3vmin;
    // letter-spacing: 1px;
    line-height: 200%;
    display: inline-block;
    margin-right: 2.5%;
    margin-left: 2.5%;
    // background-color: #fff;
}

.main {
    width: 100%;
}

.mainpage {
    position: absolute;
    top: 75%;
    left: 0%;
}

.mainwork {
}

.main-simple {
    width: 70%;
    text-decoration: none;
    color: #000;
    font-family: 'Playfair Display', serif;
    // font-family: 'Playfair Display', serif;
    font-size: 4vmin;
    letter-spacing: 1px;
    line-height: 200%;
    display: inline-block;
    margin-left: 15vw;
    margin-bottom: -40vh;
}

.paragraph-about-left {
    // float: right;
    width: 100%;
    margin: auto;
    height: auto;
    overflow: hidden;
    margin-top: 5vh;
    margin-bottom: 5vh;
    // background-color: #fdd;
}

.paragraph-about-left p {
    text-decoration: none;
    color: #000;
    font-family: 'Playfair Display', serif;
    // font-family: 'Playfair Display', serif;
    font-size: 4vmin;
    letter-spacing: 1px;
    line-height: 200%;
    // margin-bottom: 10vmin;
    text-align: left;
    float: left;
    width: 66vw;
    margin-left: 15vw;
}

.paragraph-about-right {
    // float: right;
    width: 100%;
    margin: auto;
    height: auto;
    overflow: hidden;
    margin-top: 5vh;
    margin-bottom: 5vh;
    // background-color: #fdd;
}

.paragraph-about-right p {
    text-decoration: none;
    color: #000;
    font-family: 'Playfair Display', serif;
    // font-family: 'Playfair Display', serif;
    font-size: 4vmin;
    letter-spacing: 1px;
    line-height: 200%;
    // margin-bottom: 10vmin;
    text-align: left;
    float: right;
    width: 60vw;
    margin-right: 33vw;
}

.workframe {
    width: 80%;
    margin:auto;
    text-align: center;
}

.workimage {
    height: auto;
    width: 100%;
    // display: inline-block;
    // width: 100%;
    max-width: 800px;
    // float: right;
    // margin-right: 5%;
    // float: right;
    // position: relative;
    // top: -50vmin;
    // margin-right: 5vw;
    // margin: auto;
    // margin-top: -40vh;
    // height: auto;
    // margin-left: 33vmin;
    // margin: auto;
    // margin-right: 10vw;
}

.post {
    width: 80%;
    max-width: 800px;
    margin: auto;
    display: block;
    margin-bottom: 5vh;
    margin-top: 5vh;
}

.post-image {
    text-align: center;
}
.post-image a img {
    width: 100%;
    height: auto;
    // max-width: 800px;
    margin: auto;
    text-align: center;
    margin-bottom: 10vh;
}

.post-title {
    margin-bottom: 5vh;
    // text-align: center;
    // margin-left: 13.5%;
}

.blog-date {
    margin-bottom: 10vh;
    width: 100%;
    text-decoration: none;
    color: #000;
    font-family: 'Playfair Display', serif;
    // font-family: 'Playfair Display', serif;
    font-size: 4vmin;
    letter-spacing: 1px;
    line-height: 200%;
    margin-left: 15%;
    // margin-bottom: 10vmin;
}


.post-title a {
    width: 100%;
    text-decoration: none;
    color: #000;
    font-family: 'Playfair Display', serif;
    // font-family: 'Playfair Display', serif;
    font-size: 8vmin;
    letter-spacing: 1px;
    line-height: 200%;
    margin-left: 0vw;
    // margin-bottom: 10vmin;
}

.blog-navigation {
    width: 70%;
    margin: auto;
}

.blog-previous {
    float: left;
}

.blog-next {
    float: right;
}

.blog-previous a {
    text-decoration: none;
    color: #000;
    font-family: 'Playfair Display', serif;
    // font-family: 'Playfair Display', serif;
    font-size: 4vmin;
    letter-spacing: 1px;
    line-height: 200%;
}

.blog-next a {
    text-decoration: none;
    color: #000;
    font-family: 'Playfair Display', serif;
    // font-family: 'Playfair Display', serif;
    font-size: 4vmin;
    letter-spacing: 1px;
    line-height: 200%;
}