html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
     }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
body {
    line-height: 1; }
ol, ul {
    list-style: none; }
blockquote, q {
    quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	      content: '';
	      content: none; }
table {
    border-collapse: collapse;
    border-spacing: 0; }


/*
Menu
*/

body {
    background-color: white;
}

.container {
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 1px;
    background-color: white;
}

.introcont {
    text-align: center;
    padding-top: 5vmin;
    background-color: white;
}

.intro {
    display: inline-block;
    background-color: white;
    opacity: 1.0;
    // margin-top: 10vmin;
}

.intropage {
    width: 100%;
    margin: auto;
    height: auto;
    // padding-top: 10vmin;
}

.greyline {
    border: 0;
    width: 90%;
    height: 1px;
    color: #000000;
    background-color: #000000;
    margin-top: 5vmin;
    margin-bottom: 5vmin;
}

.introwork {
    width: auto;
    min-width: 200px;
    height: auto;
    padding-top: 3vmin;
    margin-left: 10vw;
    margin-bottom: 3vh;
}


.introtitle {
    width: auto;
    // display: inline-block;
    margin: auto;
    margin-top:  5vmin;
    margin-bottom: 5vmin;
    text-align: center;
}

.introtitle a {
    text-decoration: none;
    font-size: 10vmin;
    letter-spacing: 2px;
    line-height: 100%;
    color: #000000;
    font-weight: 500;
    // font-family: 'Cormorant', serif;
    font-family: 'Playfair Display', serif;
    // font-style: italic;
    // font-family: 'Lora', serif;
}

.big-title {
    text-decoration: none;
    font-size: 10vmin;
    color: #000000;
    // background-color: white;
    // border-radius: 100%;
    font-weight: 500;
    // font-family: 'Crimson Text', serif;
    font-family: 'Playfair Display', serif;
    // font-family: 'Cormorant', serif;
    /* padding: 3vmin; */
    /* padding-top: 5vmin; */
    /* padding-bottom: 6vmin; */
    font-style: normal;
    /* padding-top: -2vmin; */
    /* padding-bottom: -2vmin; */
    /* margin-top: -2vmin; */
    /* margin-bottom: -2vmin; */
}

.big-paraph-letter {
    // text-decoration: none;
    font-size: 5vmin;
    color: #000000;
    background-color: white;
    border-radius: 100%;
    font-weight: 500;
    padding: 1.5vmin;
    padding-top: 0vmin;
    padding-bottom: 0vmin;
}

.big-paraph {
    // text-decoration: none;
    font-size: 5vmin;
    color: #000000;
    background-color: white;
    border-radius: 100%;
    font-weight: 500;
    padding: 1.5vmin;
    padding-top: 2vmin;
    padding-bottom: 2vmin;
}

.big-paraph2 {
    // text-decoration: none;
    font-size: 5vmin;
    color: #000000;
    background-color: white;
    border-radius: 100%;
    font-weight: 500;
    padding: 3vmin;
    padding-top: 7vmin;
    padding-bottom: 7vmin;
}

.quotation {
    width: auto;
    // float: right;
    text-align: center;
    // margin-right: 15vmin;
    margin-top: 5vmin;
    margin-bottom: 5vmin;
    text-decoration: none;
    font-size: 5vmin;
    // line-height: 125%;
    color: #000000;
    font-weight: 500;
    font-style: italic;
    // font-family: 'Playfair Display', serif;
    font-family: 'Playfair Display', serif;
}

.introsubtitle  {
    width: auto;
    // float: right;
    text-align: center;
    // margin-right: 15vmin;
    margin-top: 0vmin;
    margin-bottom: 5vmin;
    text-decoration: none;
    font-size: 5vmin;
    // line-height: 125%;
    color: #000000;
    font-weight: 500;
    font-style: italic;
    // font-family: 'Playfair Display', serif;
    font-family: 'Playfair Display', serif;
}



.intromenupage {
    width: auto;
    // text-align: right;
}

.intromenuwork {
    width: 50%;
    text-align: right;
    min-width: 600px;
}

.introname {
    margin-top: 2.5vmin;
    // float: left;
    // margin-left: 30vmin;
    // margin-right: 5vmin;
    width: auto;
    color: #000000;
    font-family: 'Playfair Display',serif;
    font-size: 5vmin;
    text-align: center;
    display: inline-block;
}

.quoteauthor {
    margin-top: 2.5vmin;
    // float: left;
    // margin-left: 30vmin;
    // margin-right: 5vmin;
    width: 90%;
    color: #000000;
    font-family: 'Playfair Display',serif;
    font-size: 5vmin;
    text-align: right;
    display: block;
}


.paratitle {
    margin-top: 2.5vmin;
    margin-bottom: 5vmin;
    // float: left;
    // margin-left: 30vmin;
    // margin-right: 5vmin;
    width: auto;
    color: #000000;
    font-family: 'Playfair Display',serif;
    font-size: 5vmin;
    text-align: center;
}

.periodtitle {
    margin-top: 2.5vmin;
    margin-bottom: 2.5vmin;
    // float: left;
    // margin-left: 30vmin;
    // margin-right: 5vmin;
    width: auto;
    color: #000000;
    font-family: 'Playfair Display',serif;
    font-size: 5vmin;
    text-align: center;
}

.periodsubtitle {
    margin-bottom: 5vmin;
    // float: left;
    // margin-left: 30vmin;
    // margin-right: 5vmin;
    width: auto;
    color: #000000;
    font-family: 'Playfair Display',serif;
    font-size: 5vmin;
    font-style: italic;
    text-align: center;
}


.introname2 {
    margin-top: 0vmin;
    float: left;
    margin-left: 5vmin;
    width: auto;
    color: #000000;
    font-family: 'Playfair Display',serif;
    font-size: 5vmin;
    text-align: left;
}

.introhead {
    display: block;
    width: 100%;
    text-align: center;
}

.introsubhead {
    display: inline-block;
    width: auto;
    margin: auto;
}

.intromenu {
    // display: inline-block;
    // float: right;
    // width: auto;
    width: 100%;
    // padding: 5vmin;
    // width: auto;
    margin: auto;
    // text-align: right;
    text-align: center;
    margin-top: 0vmin;
    margin-bottom: 0vmin;
    // margin-right: 2vmin;
}


.intromenuitem {
    // text-decoration: none;
    color: #000000;
    font-family: 'Playfair Display',serif;
    font-size: 3.5vmin;
    width: auto;
    display: inline;
    // float: left;
    padding-right: 7vmin;
    padding-left: 7vmin;    
    // background-color: white;
    // border-radius: 100%;
    font-weight: 500;
}

.intromenuindex0 {
    /* padding-top: 4vmin; */
    /* padding-bottom: 4vmin; */
    /* margin-top: 5vmin; */
    /* margin-left: 20vmin; */
}

.intromenuindex1 {
    /* padding-top: 4.75vmin; */
    /* padding-bottom: 4.75vmin; */
    /* margin-top: 3vmin; */
    /* margin-left: 15vmin; */
}

.intromenuindex2 {
    /* padding-top: 5.75vmin; */
    /* padding-bottom: 5.75vmin; */
    /* margin-top: 2vmin; */
    /* margin-left: 17.5vmin; */
}

.scroll {
    width: auto;
    display: inline-block;
    float: right;
    text-align: right;
    padding-right: 2vmin;
    padding-left: 2vmin;
    padding-top: 1vmin;
    padding-bottom: 2vmin;
    // margin-top: -25vh;
    text-decoration: none;
    font-size: 3vmin;
    color: #000000;
    font-family: 'Playfair Display', serif;
    background-color: white;
    border-radius: 100%;
    margin-right: 30vmin;
    margin-top: 7.5vmin;
}

.frame {
    position: fixed;
    top: 0px;
    left: 0px;
    float: right;
    width: 100%;
    overflow: hidden;
    height: 100%;
    z-index: -1;
}

.frame canvas {
    width: 100vmax;
    height: 100vmax;
    // padding: 3%;
}

.front-title {
    text-decoration: none;
    color: #000000;
    font-family: 'Playfair Display', serif;
    // font-family: 'Playfair Display', serif;
    font-size: 4vmin;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 15vmin;
    margin-bottom: 10vmin;
}

.paragraph {
    // float: right;
    width: auto;
    height: auto;
    overflow: hidden;
    padding-top: 5vmin;
    padding-bottom: 5vmin;
}

.paragraph-about {
    // float: right;
    width: 90%;
    margin: auto;
    height: auto;
    overflow: hidden;
    padding-top: 5vmin;
    padding-bottom: 5vmin;
}


.paragraph p {
    text-decoration: none;
    color: #000000;
    font-family: 'Playfair Display', serif;
    font-size: 5vmin;
    line-height: 150%;
    // letter-spacing: 1px;
    font-weight: 500;
    text-align: left;
    // font-style: italic;
    width: auto; 
}

.paragraph-frame {
    // float: right;
    width: 100%;
    margin: auto;
    height: auto;
    overflow: hidden;
    background-color: white;
    // margin-top: 10vh;
    // margin-bottom: 10vh;
    // background-color: #fdd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
}

.picture-full-frame {
    // float: right;
    width: 100%;
    max-width: 800px; 
    text-align: center;
    margin: auto;
    height: auto;
    overflow: hidden;
    background-color: #000;
    // margin-top: 10vh;
    // margin-bottom: 10vh;
    // background-color: #fdd;
    display: block;
    margin-left: -33%;
}

.picture-full {
    // float: right;
    width: 100%;
    text-align: center;
    margin: auto;
    height: auto;
    overflow: hidden;
    background-color: white;
    display: block;
    padding: 0vmin;
    text-align: center;
    border: 0px solid #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

}

.picture-full img {
    width: 100%;
    max-width: 800px;
}

/* .paragraph-frame img { */
/*     width: 90%; */
/*     margin: auto; */
/*     text-align: center; */
/*     height: auto; */
/*     max-width: 700px; */
/*     // border-radius: 100%; */
/* } */


.paragraph-left {
    margin-left: 5vmin;
}

.paragraph-small-left {
    width: 49%;
    // margin-left: 5vmin;
    float: left;
    text-align: center;
}

.paragraph-small-right {
    width: 49%;
    // margin-right: 5vmin;
    float: right;
    text-align: center;
}

.paragraph-small-center {
    width: 100%;
    // margin-left: 40%;
    // margin: auto;
    // display: inline-block;
    text-align: center;
 }

.paragraph-small-center p {
    width: auto;
    margin: auto;
    display: inline-block;
}

.paragraph-small-left p {
    width: auto;
    margin-right: 5vmin;
    float: right;
    display: inline-block;
}

.paragraph-small-right p {
    width: auto;
    margin-left: 5vmin;
    float: left;
    display: inline-block;
}


.paragraph-left0 {
    margin-left: 5vmin;
    padding-top: 0vmin;
}

.paragraph-left-frame {
    float: left;
    margin-top: 0vmin;
    margin-left: 7.5vmin;
}


.paragraph-right {
    float: right;
    margin-right: 7.5vmin;
}

.paragraph-right-frame {
    // text-align: right;
    // width: 50vmin;
    float: right;
    margin-right: 7.5vmin;
}

.small_left {
    margin-top: 10vmin;
    float: left;
    width: 32%;
    margin-left: 5vmin;
}

.small_right {
    margin-top: 10vmin;
    float: right;
    width: 32%;
    // margin-right: 5vmin;
}

.small_center {
    margin-top: 10vmin;
    margin: auto;
    width: 32%;
}



.paragraph-center {
    text-align: center;
}

.paragraph-center p {
    display: inline-block;
}

.paragraph-center-frame {
    width: 90%;
    margin: auto;
}

.paragraph-0-frame {
    // float: right;
    // width: 55vmin;
    // height: auto;
    // margin-right: 5vmin;
    margin-top:  10vmin;
    // margin-bottom: 30vmin;
    // margin-left: 40%;
    background-color: #000000;
    padding: 2vmin;
    // border-radius: 100%;
    // margin-left: 50vmin;
}


/* .paragraph-center-frame img { */
/*     width: 100%; */
/*     max-width: 700px; */
/*     margin: auto; */
/* } */


.clear {
    clear: both;
}

.image_full {
    padding: 0vmin;
    // padding: 10px;
    text-align: center;
    border: 0px solid #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: black;
}


.image_full img {
    width: 88%;
    // margin: 3vmin;
    padding: 5vmin;
    text-align: center;
    height: auto;
    max-width: 800px;
    // border-radius: 100%;
    background-color: #fff;
}



.footer {
    width: 100%;
    text-align: center;
    // margin-top: 20vw;
    // margin-bottom: 10vh;
    // margin: 10vh auto;
    // background-color: white;
    padding-top: 5vmin;
    padding-bottom: 5vmin;
}

.footer a {
    // text-decoration: none;
    color: #000000;
    // font-family: 'Playfair Display', serif;
    font-family: 'Playfair Display', serif;
    // font-family: 'Catamaran';
    font-size: 3vmin;
    // font-weight: bold;
    // letter-spacing: 1px;
    // line-height: 200%;
    display: inline-block;
    margin-right: 2.5%;
    margin-left: 2.5%;
    // background-color: white;
}

.main {
    width: 100%;
    // margin-bottom: -5vh;
    background-color: white;
}

.mainpage {
    // position: absolute;
    // top: 100%;
    // left: 0%;
    // padding-top: 5vh;
}

.mainwork {
}

.main-simple {
    width: 70%;
    text-decoration: none;
    color: #000000;
    font-family: 'Playfair Display', serif;
    // font-family: 'Playfair Display', serif;
    font-size: 4vmin;
    letter-spacing: 1px;
    line-height: 200%;
    display: inline-block;
    margin-left: 15vw;
    margin-bottom: -40vh;
}

.paragraph-about-left {
    // float: right;
    width: 100%;
    margin: auto;
    height: auto;
    overflow: hidden;
    margin-top: 5vh;
    margin-bottom: 5vh;
    // background-color: #fdd;
}

.paragraph-about-left p {
    text-decoration: none;
    color: #000000;
    font-family: 'Playfair Display', serif;
    // font-family: 'Playfair Display', serif;
    font-size: 4vmin;
    letter-spacing: 1px;
    line-height: 200%;
    // margin-bottom: 10vmin;
    text-align: left;
    float: left;
    width: 66vw;
    margin-left: 15vw;
}

.paragraph-about-right {
    // float: right;
    width: 100%;
    margin: auto;
    height: auto;
    overflow: hidden;
    margin-top: 5vh;
    margin-bottom: 5vh;
    // background-color: #fdd;
}

.paragraph-about-right p {
    text-decoration: none;
    color: #000000;
    font-family: 'Playfair Display', serif;
    // font-family: 'Playfair Display', serif;
    font-size: 4vmin;
    letter-spacing: 1px;
    line-height: 200%;
    // margin-bottom: 10vmin;
    text-align: left;
    float: right;
    width: 60vw;
    margin-right: 33vw;
}

.workframe {
    display: inline;
    width: auto;
    height: 80vmin;
    margin: auto;
    # text-align: center;
    float: right;
    # margin-left: 5vw;
    margin-right: 2vw;
}

.workimage {
    height: 120%;
    width: auto;
    max-width: 800px;
    margin: auto;
    margin-top: 2%;

}

.post {
    width: 80%;
    max-width: 800px;
    margin: auto;
    display: block;
    margin-bottom: 10vh;
    margin-top: 0vh;
}

.post-image {
    text-align: center;
}
.post-image a img {
    width: 90%;
    height: auto;
    // max-width: 800px;
    margin: auto;
    text-align: center;
    margin-bottom: 10vh;
}

.post-title {
    margin-bottom: 5vh;
    // text-align: center;
    // margin-left: 13.5%;
}

.blog-date {
    margin-bottom: 10vh;
    width: 100%;
    text-decoration: none;
    color: #000000;
    font-family: 'Playfair Display', serif;
    // font-family: 'Playfair Display', serif;
    font-size: 4vmin;
    letter-spacing: 1px;
    line-height: 200%;
    margin-left: 15%;
    // margin-bottom: 10vmin;
}


.post-title a {
    width: 100%;
    text-decoration: none;
    color: #000000;
    font-family: 'Playfair Display', serif;
    // font-family: 'Playfair Display', serif;
    font-size: 8vmin;
    letter-spacing: 1px;
    line-height: 200%;
    margin-left: 0vw;
    // margin-bottom: 10vmin;
}

.blog-navigation {
    width: 70%;
    margin: auto;
}

.blog-previous {
    float: left;
}

.blog-next {
    float: right;
}

.blog-previous a {
    text-decoration: none;
    color: #000000;
    font-family: 'Playfair Display', serif;
    // font-family: 'Playfair Display', serif;
    font-size: 4vmin;
    letter-spacing: 1px;
    line-height: 200%;
}

.blog-next a {
    text-decoration: none;
    color: #000000;
    font-family: 'Playfair Display', serif;
    // font-family: 'Playfair Display', serif;
    font-size: 4vmin;
    letter-spacing: 1px;
    line-height: 200%;
}

.action-link {
    width: 100%;
    // display: inline-block;
    // margin: auto;
    // float: right;
    text-align: center;
    margin-top: 0vmin;
    margin-bottom: 10vmin;
    // margin-left: 45vmin;
    background-color: white;
    // border-radius: 100%;
    padding: 3vmin;
    padding-top: 5vmin;
    padding-bottom: 5vmin;
    // margin-right: 5vmin;
}
.action-link a {
    // text-decoration: none;
    color: #000000;
    font-family: 'Playfair Display', serif;
    font-size: 5vmin;
    width: auto;
    margin: auto;
    // display: block;
    // font-weight: bold;
    // margin: 5vmin;
}

.image_logo {
    width: auto;
    margin: auto;
    display: inline-block;
    margin-top: 0vmin;
}

.intrologo {
    width: auto;
    text-align: center;
    // float: left;
    display: inline-block;
}

.intrologo img {
    width: 10vmin;
    max-width: 200px;
    border: 0px solid #000;
    padding: 0vmin;
    border-radius: 100%;
    // float: left;
}


.logo {
    width: 100%;
    text-align: center;
    // float: left;
    // display: inline-block;
}

.logo img {
    width: 10vmin;
    max-width: 200px;
    border: 0px solid #000;
    padding: 0vmin;
    border-radius: 100%;
    // float: left;
}

.space {
    height: 20vmin;
}

.copyright {
    margin-top: 2.5vmin;
    margin-bottom: 2.5vmin;
    // float: left;
    // margin-left: 30vmin;
    // margin-right: 5vmin;
    width: auto;
    color: #000000;
    font-family: 'Playfair Display',serif;
    font-size: 5vmin;
    text-align: center;
}
