html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
     }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
body {
    line-height: 1; }
ol, ul {
    list-style: none; }
blockquote, q {
    quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	      content: '';
	      content: none; }
table {
    border-collapse: collapse;
    border-spacing: 0; }

:root {
    --bg: rgb(0,33,66);
    --fg: white;
}


/*
Menu
*/

body {
    background: var(--bg);
    border: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body::-webkit-scrollbar { 
    display: none; 
}

/* .containerupper { */
/*     position: absolute; */
/*     display: block; */
/*     top: 2vmin; bottom: 2vmin; left: 2vmin; right: 2vmin; */
/*     border: 0; */
/*     background: rgb(0,33,66); */
/*     z-index: -1; */
/* } */

.container {
    position: absolute;
    display: block;
    top: 0vmin; bottom: 0vmin; left: 0vmin; right: 0vmin;
    border: 0;
    z-index: -1;
    background: var(--bg);
 }

.introhead {
    width: 100%;
    height: 5vh;
    // background: orange;
}

.intromenu {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    // border-radius: 100%;
    // border: 5px;
    border-color: white;
    border-style: solid;
}


.intromenuitem {
    text-decoration: none;
    color: var(--fg);
    font-family: 'Helvetica';
    font-size: 10px;
    display: block;
    float: right;
    text-align: center;
    vertical-align: middle;
    width: 60px;
    height: 60px;
    /* padding-right: 10px; */
    /* padding-left: 10px; */
    /* padding-top: 25px; */
    /* padding-bottom: 25px; */
    line-height: 60px;
    margin-left: 10px;
    font-weight: 800;
    letter-spacing: 1px;
    background: var(--bg);
    border-radius: 100%;
}

.intromain {
    display: block;
    float: left;
    background: var(--bg);
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 100%;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    // border: 5px;
    border-color: white;
    border-style: solid;
}

.introname {
    display: block;
    width: auto;
    text-align: center;
}

.introname a {
   color: var(--fg);
    font-family: 'Helvetica';
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    letter-spacing: 2px;
    font-weight: 600;
    text-decoration: none;
}

.introtopic {
    width: auto;
    // margin-top: 15px;
    // margin-bottom: 15px;
    color: #fff;
    color: var(--fg);
    font-family: 'Helvetica';
    font-size: 25px;
    line-height: 50px;
    text-align: left;
    letter-spacing: 1px;
    font-weight: 600;
}

.introsubtitle  {
    width: auto;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    line-height: 20px;
    color: #fff;
    color: var(--fg);
    font-weight: 600;
    font-family: 'Helvetica';
    text-transform: uppercase;
    letter-spacing: 2px;
}

.middle {
    display: block;
    height: 85vh;
    // background: violet;
}

.vertical {
    margin-left: 7vw;
    margin-top: 15vh;
    font-weight: 600;
    font-family: 'Helvetica';
    text-transform: uppercase;
    letter-spacing: 2px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.footer {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    // background: green;    
}



.center-frame-out {
    // position: absolute;
    top: 15vh; bottom: 15vh; left: 5vw; right: 5vw;
    margin: auto;
    background: rgb(0,33,66);
    border: 0;
}

.center-frame-inborder {
    // position: absolute;
    top: 1vmin; bottom: 1vmin; left: 1vmin; right: 1vmin;
    margin: auto;
    background: rgb(0,33,66);
    border: 0;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,1.0) inset;
}

.center-frame {
    position: absolute;
    top: 0vmin; bottom: 0vmin; left: 0vmin; right: 0vmin;
    margin: auto;
    background: rgb(0,33,66);
    border: 0;
    z-index: -1;
 }


canvas {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: white;
    border: 0;
}



.clear {
    clear: both;
}

.intrologo {
    width: auto;
    text-right: left;
    vertical-align: middle;
    float: right;
    // display: inline;
    
}

.intrologo a img {
    width: 2vh;
    background: rgb(0,33,66);
    border-radius: 100%;
}

.footersocial {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.footerlogo {
    width: auto;
    text-align: left;
    vertical-align: middle;
    float: left;
    // display: inline;
    
}

.footerlogo a img {
    width: 40px;
    margin-right: -5px;
    padding: 10px;
    background: var(--bg);
    border-radius: 100%;
    // border: 5px;
    border-color: white;
    border-style: solid;
}

.footeraction a {
    text-decoration: none;
    color: var(--fg);
    font-family: 'Helvetica';
    font-size: 20px;
    width: 100px;
    height: 100px;
    display: block;
    float: right;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    margin-right: 1vmin;
    font-weight: 800;
    letter-spacing: 1px;
    background: var(--bg);
    // border: 5px;
    border-color: white;
    border-style: solid;
    border-radius: 100%;
    
}
