html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
     }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
body {
    line-height: 1; }
ol, ul {
    list-style: none; }
blockquote, q {
    quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	      content: '';
	      content: none; }
table {
    border-collapse: collapse;
    border-spacing: 0; }

:root {
    --fg: rgb(0,33,66);
    --bg: white;
}


/*
Menu
*/

body {
    background: var(--bg);
    border: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body::-webkit-scrollbar { 
    display: none; 
}

/* .containerupper { */
/*     position: absolute; */
/*     display: block; */
/*     top: 2vmin; bottom: 2vmin; left: 2vmin; right: 2vmin; */
/*     border: 0; */
/*     background: rgb(0,33,66); */
/*     z-index: -1; */
/* } */

.container {
    position: absolute;
    display: block;
    top: 0vmin; bottom: 0vmin; left: 0vmin; right: 0vmin;
    border: 0;
    z-index: -1;
    background: var(--fg);
 }

.introhead {
    width: 100%;
    height: 5vh;
    // background: orange;
}

.intromenu {
    float: right;
    margin-right: 1vmin;
    margin-top: 1.5vmin;
    // border-radius: 100%;
    // border: 5px;
    border-color: white;
    border-style: solid;
}


.intromenuitem {
    text-decoration: none;
    color: var(--fg);
    font-family: 'Helvetica';
    font-size: 3vmin;
    padding-left: 1vmin;
    padding-right: 1vmin;
    line-height: 4vmin;
    display: block;
    float: right;
    text-align: right;
    vertical-align: middle;
    // width: 30px;
    // height: 50px;
    /* padding-right: 10px; */
    /* padding-left: 10px; */
    /* padding-top: 25px; */
    /* padding-bottom: 25px; */
    // line-height: 50px;
    // margin-left: 10px;
    // font-weight: 800;
    // letter-spacing: 1px;
    background: var(--bg);
    border-radius: 100%;
    // border: 2px;
    border-color: var(--fg);
    border-style: solid;
}

.intromain {
    display: block;
    float: left;
    margin-top: 1.5vmin;
    margin-left: 7vmin;
    // background: var(--bg);
    // background: orange;
    /* margin-left: -20px; */
    /* margin-top: -50px; */
    /* width: 200px; */
    /* height: 200px; */
    /* border-radius: 100%; */
    /* padding-left: 0px; */
    /* padding-right: 0px; */
    /* padding-top: 0px; */
    /* padding-bottom: 0px; */
    /* // border: 5px; */
    /* border-color: white; */
    /* border-style: solid; */
}

.introname {
    // position: absolute;
    // top: 15px;
    // left: 125px;
    background: var(--fg);
    // border-radius: 100%;
    text-align: left;
    // border: 2px;
    border-color: var(--fg);
    border-style: solid;
    // width: 100px;
    // height: 100px;
}

.introname a {
    // position: absolute;
    // top: 27.5px;
    // left: 15px;
    color: var(--bg);
    text-align: left;
    font-family: 'Helvetica';
    font-size: 3vmin;
    line-height: 3vmin;
    // letter-spacing: 1px;
    // font-weight: 600;
    text-decoration: none;

}

.introtopic {
    // position: absolute;
    // top: 15px;
    // left: 15px;
    background: var(--bg);
    // border-radius: 100%;
    text-align: left;
    // border: 2px;
    border-color: var(--fg);
    border-style: solid;
    // width: 100px;
    // height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.introtopic a {
    // position: absolute;
    // top: 25px;
    // left: 18px;
    font-family: 'Helvetica';
    font-size: 24px;
    line-height: 24px;
    // letter-spacing: 3px;
    // font-weight: 600;
    text-decoration: none;
    color: var(--fg);
    text-align: left;
    // background: red;
}

.introsubtitle  {
    // position: absolute;
    // top: 125px;
    // left: 15px;
    // width: 100px;
    // height: 100px;
    text-align: center;
    background: var(--bg);
    // border-radius: 100%;
    text-align: left;
    // border: 2px;
    border-color: var(--fg);
    border-style: solid;
    // width: 100px;
    // height: 100px;    
}

.introsubtitle a {
    // position: absolute;
    // top: 30px;
    // left: 10px;
    text-decoration: none;
    color: var(--fg);
    text-align: left;

    font-size: 10px;
    line-height: 15px;
    color: var(--fg);
    // font-weight: 600;
    font-family: 'Helvetica';
    text-transform: uppercase;
    // letter-spacing: 2px;
}

.middle {
    display: block;
    height: 85vh;
    // background: violet;
}

.vertical {
    position: absolute;
    top: 8vmin;
    left: 0.25vmin;
    color: var(--bg);
    background: var(--fg);
    font-size: 2.5vmin;
    // margin-left: 5px;
    // margin-top: 30px;
    // font-weight: 600;
    font-family: 'Helvetica';
    text-transform: uppercase;
    // letter-spacing: 2px;
    writing-mode: vertical-rl;
   text-orientation: mixed;
}

.footer {
    position: absolute;
    bottom: 10px;
    left: 50px;
    right: 50px;
    // background: green;    
}



.center-frame-out {
    position: absolute;
    top: 3vmin; bottom: 3vmin; left: 3vmin; right: 3vmin;
    margin: auto;
    background:var(--bg);
    border: 0;
    z-index: -1;
}

.center-frame-inborder {
    position: absolute;
    top: 1px; bottom: 1px; left: 1px; right: 1px;
    // border-radius: 100%;
    margin: auto;
    background:var(--fg);
    border: 0;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,1.0) inset;
    z-index: -1;

}

.center-frame {
    position: absolute;
    top: 3vmin; bottom: 3vmin; left: 3vmin; right: 3vmin;
    // margin-left: auto; 
    // margin-right: auto; 
    // margin: auto;
    background: rgb(0,33,66);
    border: 0;
    z-index: -1;
    // border-radius: 100%;
    // width: 90vmin;
    // height: 90vmin;
    text-align: center;
    // left: 50%;
    // transform: translate(-50%, 0);
    // margin-left: -10vmin;
}


canvas {
    margin: auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: white;
    // border: 4px;
    border-color: rgb(0,33,66);
    border-style: solid;
    // border-radius: 100%;
}



.clear {
    clear: both;
}

.intrologo {
    width: auto;
    text-right: left;
    vertical-align: middle;
    float: right;
    // display: inline;
    
}

.intrologo a img {
    width: 2vh;
    background: rgb(0,33,66);
    border-radius: 100%;
}

.footersocial {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.footerlogo {
    width: auto;
    text-align: left;
    vertical-align: middle;
    float: left;
    // display: inline;
    
}

.footerlogo a img {
    width: 30px;
    margin-right: 10px;
    // padding: 10px;
    background: var(--bg);
    // border-radius: 100%;
    // border: 2px;
    border-color: white;
    border-style: solid;
}

.footeraction {
    text-decoration: none;
    color: var(--bg);
    font-family: 'Helvetica';
    font-size: 15px;
    // width: 30px;
    height: 40px;
    display: block;
    float: right;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    margin-right: 1vmin;
    font-weight: 800;
    letter-spacing: 1px;
    background: var(--fg);
    // border: 2px;
    // border-color: white;
    // border-style: solid;
    // border-radius: 100%;
    
}

.middleactionprev {
    position: absolute;
    top: 50vh;
    left: 1vmin;
    color: var(--bg);
    background: var(--fg);    
    border-color: white;
    // border: 2px;
    border-style: solid;
    border-radius: 100%;
    text-decoration: none;
    font-family: 'Helvetica';
    font-size: 4vmin;
    line-height: 4vmin;
}

.middleactionnext {
    position: absolute;
    top: 50vh;
    right: 1vmin;
    color: var(--bg);
    background: var(--fg);    
    border-color: white;
    // border: 2px;
    border-style: solid;
    border-radius: 100%;
    text-decoration: none;
    font-family: 'Helvetica';
    font-size: 4vmin;
    line-height: 4vmin;
}

.footactionopen {
    position: absolute;
    bottom: 1vmin;
    right: 50vw;
    color: var(--bg);
    background: var(--fg);    
    border-color: white;
    // border: 2px;
    border-style: solid;
    border-radius: 100%;
    text-decoration: none;
    font-family: 'Helvetica';
    font-size: 4vmin;
    line-height: 4vmin;
}
