body {
    background: #fff;
    background-color: white;
    // border: 0;
    margin: 0;
    min-width: 0px;
}

.row {
    background-color: #ddd;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.col {
    background-color: #dfd;
    height: 100%;    
}

/*
 * ROWS
 *
 */

.row0 {
    margin: auto;
    max-width: 800px;
}

.row1 {
    margin-left: auto;
    max-width: 800px;
}

.row2 {
    margin-right: auto;
    max-width: 800px;
}

.row3 {
    margin-right: auto;
    max-width: 800px;
}

.row3b {
    margin-left: auto;
    max-width: 800px;
}

.row4 {
    margin-left: auto;
    max-width: 800px;
}

.row4b {
    margin-right: auto;
    max-width: 800px;
}

.row5 {
    margin-right: auto;
    max-width: 800px;
}

.row6 {
    margin-right: auto;
    max-width: 800px;
}

.row7 {
    margin-right: auto;
    max-width: 800px;
}

.row8 {
    margin-right: auto;
    max-width: 800px;
}

.row16 {
    margin-left: auto;
    max-width: 800px;
}

.row17 {
    margin-left: auto;
    max-width: 800px;
}

.row18 {
    margin-left: auto;
    max-width: 800px;
}



.row26 {
    margin-right: auto;
    max-width: 800px;
}

.row27 {
    margin-right: auto;
    max-width: 800px;
}

.row28 {
    margin-right: auto;
    max-width: 800px;
}

.row216 {
    margin-left: auto;
    max-width: 800px;
}

.row217 {
    margin-left: auto;
    max-width: 800px;
}

.row218 {
    margin-left: auto;
    max-width: 800px;
}




/*
 * COLUMNS
 *
 */

.col0 {
    width: 60%;
    margin: auto;
}

.col1 {
    width: 60%;
    margin: auto;
}

.col2 {
    width: 60%;
    margin: auto;
}

.col3 {
    float: right;
    width: 60%;
    margin: auto;
}

.col3b {
    float: left;
    width: 60%;
    margin: auto;
}

.col4 {
    float: right;
    width: 60vw;
    margin: auto;
}

.col4b {
    float: left;
    width: 60vw;
    margin: auto;
}


.col5 {
    float: right;
    width: 60vw;
    margin: auto;
}

.col6 {
    float: left;
    width: 60vw;
    margin: auto;
}

.col7 {
    float: left;
    width: 60vw;
    margin-left: auto;
}

.col8 {
    float: left;
    width: 60vw;
    margin-right: auto;
}

.col16 {
    float: left;
    width: 60vw;
    margin: auto;
}

.col17 {
    float: left;
    width: 60vw;
    margin-left: auto;
}

.col18 {
    float: left;
    width: 60vw;
    margin-right: auto;
}



.col26 {
    float: right;
    width: 60vw;
    margin: auto;
}

.col27 {
    float: right;
    width: 60vw;
    margin-left: auto;
}

.col28 {
    float: right;
    width: 60vw;
    margin-right: auto;
}

.col216 {
    float: right;
    width: 60vw;
    margin: auto;
}

.col217 {
    float: right;
    width: 60vw;
    margin-left: auto;
}

.col218 {
    float: right;
    width: 60vw;
    margin-right: auto;
}

